/**
 * Source: http://vadimg.com/twitter-
 * bootstrap-wizard-example/examples/
 * 
 * @url balerocms.com
 **/
.container, .span9, .wizard {
	width: 100%;
	margin-left: 0px;
    padding-left: 0px;
}
.page-header {
	margin-left: 10px;
    padding-left: 10px;
}
#footer {
	text-align: center;
}
.input-group-addon {
	padding-right: 15px;
}
.progress {
	width: 50%;
}
@media (max-width: 320px) {
    body {
        width: 320px;
    }
}